{% extends "layout.html" %}
{% block body %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">modo patrone</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="javascript:void(0);">Home</a></li>
                    <li><a href="/kit">Kit</a></li>
                    <li><a href="/author">for Kit Authors</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
</div>
{% endblock %}
