{% extends "layout.html" %}
{% block body %}
<div class="span10">
    <h1 class="page-title">Kits</h1>

    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 16px;">&nbsp;</th>
                <th>Kit Name</th>
                <th>View Count</th>
                <th>Download Count</th>
                <th>Category</th>
                <th>Updated</th>
            </tr>
            </thead>
            {% if kits %}
            <tbody>
            {% for kit in kits %}
            <tr>
                <td><a href="/kit/detail/{{ kit.kit_id }}"><i class='icon-cog'></i></a></td>
                <td><a href="/kit/detail/{{ kit.kit_id }}">{{ kit.kit_name }}</a></td>
                <td>{{ kit.view_count }}</td>
                <td>{{ kit.download_count }}</td>
                <td>{{ kit.category_name }}</td>
                <td>{{ kit.update_datetime }}</td>
            </tr>
            {% endfor%}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}